.card-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

a .row {
  color: black;
}

#featured_tutorials {
  text-align: center;
}

#carouselExampleIndicators {
  padding-bottom: 500px;
}

img.img-fluid {
  max-height: 122px;
}

div.card {
  border-width: 5px;
  margin: 5px;
}

.instructors {
  background-color: #282634;
  height: 700px;
  color: white;
}

.hidden {
  display: none;
}
